html {
    box-sizing: border-box;
    font-family: 'Montserrat',
        sans-serif;
}

*,
::after,
::before {
    box-sizing: inherit
}

.body {
    background-color: rgb(240, 240, 240);
    word-break: break-word
}

.todolist {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
}

.todolist__header {
    font-size: 2rem;
    font-weight: 700;
    align-self: flex-start;
    padding: 20px 0;
    margin-top: 30px;
}

.adding {
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.adding__header {
    font-weight: 700;
    padding: 20px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.adding__paragraph {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.adding__input {
    flex-grow: 9;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(240, 240, 240);
    color: rgb(80, 80, 80);
}

.adding__button {
    flex-grow: 1;
    background-color: teal;
    color: white;
    border-style: none;
    margin: 10px;
    padding: 10px;

}

.list {
    margin-top: 7px;
    background-color: #fff;
    width: 100%;
}

.list__header {
    font-weight: 700;
    padding: 20px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.list__tasks {
    margin: 10px;
    padding-left: 0;
}

.list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    list-style-type: none;
    border-bottom: 1px solid rgb(240, 240, 240);
    padding: 10px;
    line-height: 2;
}

.list__item--done {
    text-decoration: line-through
}

.list__item--span {
    margin-right: auto;
    margin-left: 10px;
}

.list__itemButton {
    background-color: green;
    color: white;
    border: none;
    min-width: 32px;
    height: 32px;
}

.list__itemButton--delete {
    background-color: red;
}

@media (max-width: 700px) {
    .todolist__header {
        margin-left: 20px;
    }

}

@media (max-width: 420px) {
    .adding__paragraph {
        display: flex;
        flex-direction: column;
    }

    .todolist__header {
        text-align: center;
        margin: 30px auto 0;

    }

    .adding__header {
        text-align: center;
    }
}